.sort-head {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
}

.heading {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;    
}

.sort-by {
    border: solid #2D9CDB 1px;
    /* box-sizing: border-box; */
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-by p {
    font-weight: 500;
    font-size: 30px;
}

.sort-option {
    border: solid #2D9CDB 1px;
    /* box-sizing: border-box; */
    background-color: #2D9CDB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-option-end {
    border: solid #2D9CDB 1px;
    /* box-sizing: border-box; */
    background-color: #2D9CDB;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-option p, .sort-option-end p {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
}

.sort-option span, .sort-option-end span {
    color: #ffffff;
    font-size: 40px;
    margin-left: 10px;
}

.sort-option:hover,.sort-option-end:hover{
    cursor: pointer;
}

.dropdown-wrapper{
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    padding: 10px 15px;
}

.dropdown-wrapper p {
    font-size: 16px;
    color: #2D9CDB;
    padding: 2px;
    margin: 0;
}

.dropdown-wrapper p:hover {
    cursor: pointer;
    text-decoration: underline;
}
/* .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 10px;
    transition: all 0.3s ease-out;
}

li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}
 
.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
} */