.sort-head {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;    
}

.sort-by {
    border: solid #2D9CDB 1px;
    /* box-sizing: border-box; */
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.sort-by p {
    font-weight: 500;
    font-size: 20px;
}

.sort-option {
    border: solid #2D9CDB 1px;
    /* box-sizing: border-box; */
    background-color: #2D9CDB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important
}

.sort-option-end {
    border: solid #2D9CDB 1px;
    /* box-sizing: border-box; */
    background-color: #2D9CDB;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important
}

.sort-option span, .sort-option-end span {
    color: #ffffff;
    font-size: 40px;
    margin-left: 10px;
}

.sort-option:hover,.sort-option-end:hover{
    cursor: pointer;
}

.dropdown-wrapper{
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    padding: 10px 15px;
}


.sort-option p, .sort-option-end p {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}

.dropdown-wrapper p {
    font-size: 16px;
    color: #2D9CDB;
    padding: 2px;
    margin: 0;
}

.dropdown-wrapper p:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (min-width: 600px) {
    .sort-head {
        justify-content: left;
    }

    .heading {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;    
    }

    .sort-by p {
        font-size: 30px;
    }

    .sort-option p, .sort-option-end p {
        font-size: 30px;
    }

    .dropdown-wrapper{
        background-color: #ffffff;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
        border-radius: 7px;
        padding: 10px 15px;
        z-index: 99;
    }
    
    .dropdown-wrapper p {
        font-size: 16px;
        padding: 2px;
    }
}

/* Media queries */
.sort-container{
    margin: 10px 0 -40px 0;
    padding: 0 15px;
}
.sort-box{
    border: solid #2D9CDB 1px;
    background-color: #2D9CDB;
    display: inline-block;
    padding: 7px 10px !important;
    width: 33% !important;
    text-align: center;
}

.sort-option-1{
    border-radius: 7px 0 0 7px;
}

.sort-option-3{
    border-radius: 0 7px 7px 0; 
}

.sort-option-1 p, .sort-option-3 p, .sort-option-2 p {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    margin: auto
}


.sort-option-1 img, .sort-option-3 img, .sort-option-2 img {
    width: 10px
}

.dropdown-wrapper-m {
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    padding: 10px 15px;
}


.dropdown-wrapper-m p {
    font-size: 14px;
    color: #2D9CDB;
    padding: 3px 2px;
    margin: 0;
}

.dropdown-wrapper-m p:hover {
    cursor: pointer;
    text-decoration: underline;
}