.project-box {
    background-color: #f2f2f2;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    padding: 0;
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.project-box:nth-child(even) {
    float: right;
}

.project-box:nth-child(odd) {
    float: left;
}

.boxes {
    margin-top: 80px
}

.be-inline {
    display: inline-block;
}

.proj-img-container {
    width: 35%;
    /* max-height: 350px; */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.12);
    background-size: 100%;
    border-radius: 7px 0 0 7px;
    background-repeat: no-repeat;
}

.sum-proj-img-container {
    margin-top: 25px;
    height: 300px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.12);
    background-size: 100%;
    border-radius: 7px 0 0 7px;
    background-repeat: no-repeat;
}

.proj-img-container:hover {
    box-shadow: none;
}

.project-content {
    width: 65%;
    padding: 10px 15px;
    float: right
}

.prog-stat-2 {
    width: 90%; 
    height: 28px !important; 
}

.sum-project-content {
    padding: 33px 20px;
}

.add-cost {
    font-size: 16px;
}

.add-cost span{
    display: block;
}

.read-more {
    color: #2D9CDB;
    font-weight: 500;
}

.read-more:hover {
    cursor: pointer;
}

.divider {
    width: 100%;
    margin: 10px auto;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

.contractor-img img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 15px;
}

.project-brief-mobile {
    display: block;
    margin: 10px 0;
}

.project-brief {
    display: none;
}

.project-brief-mobile p {
    font-size: 14px;
    font-weight: 400;
}

.sum-project-brief {
    margin: 28px 0;
}


.project-name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}

.project-contractor{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px
}

.sum-project-brief p {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}

.more-details {
    font-size: 16px;
    font-weight: 500;
    float: right;
}

.more-details:hover {
    cursor: pointer;
}

.prog-stat {
    width: 80%; 
    height: 20px !important; 
    margin: 200px auto 0 auto;
    bottom: 10px
}
/* Pagination css */

.paginate-numbers {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
}

.paginate-numbers>li {
    color: #4d4d4d;
    font-size: 12px;
    margin: 0 10px;
    user-select: none;
    cursor: pointer;
    background-color: #f2f2f2;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    padding: 5px 8px;
    border-radius: 50px
}

.pagination-i {
    display: block;
    margin: 10px auto 0 auto;
}

@media (min-width: 600px) {
    .project-box {
        display: inline-block;
        width: 48%;
        max-height: 410px;
        margin-bottom: 70px;
    }

    .project-box:nth-child(even) {
        margin-left: 23px;
        float: right;
    }
    
    .project-box:nth-child(odd) {
        margin-right: 23px;
        float: left;
    }

    .proj-img-container {
        width: 35%;
        height: 410px;
        border-radius: 7px 0 0 7px;
    }

    .project-content {
        width: 65%;
        height: 410px;
        padding: 15px 20px;
        float: right
    }

    .add-cost {
        font-size: 22px;
        line-height: 22px;
    }

    .add-cost span{
        display: inline-block;
    }
    
    .contractor-img img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .project-brief p {
        font-size: 18px;
        font-weight: 400;
    }

    .project-brief {
        display: block;
        margin: 28px 0;
    }

    .project-brief-mobile {
        display: none;
    }

    .project-name {
        font-size: 32px;
        font-weight: 600;
    }

    .project-contractor{
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 15px
    }

    .more-details {
        font-size: 20px;
        margin-top: 20px;
    }

    .prog-stat {
        width: 80%; 
        height: 28px !important; 
        margin: 320px auto 0 auto;
        bottom: 10px
    }

    .pagination-i {
        width: 100%;
        margin: 40px auto 0 auto;
    }
}