.banner-content {
    background: url(../../assets/img/header-image.png) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.layer {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.banner-info-top {
    padding-top: 70%;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.banner-info-top h3 {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.banner-info-bottom p {
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
}

.banner-btn {
    background-color: #2D9CDB;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 50px;
    margin-top: 1.5em;
    border: none;
    margin-bottom: 30px
}

.banner-btn img {
    display: block;
    margin: auto;
}

.bounce {
    position: absolute;
    animation: bounce 1s infinite;
    left: 50%;
    margin-left: -10px;
}

.bounce img {
    width: 25px
}

@keyframes bounce {
    0% {
        margin-top: 5px;
    }
    25%, 75% {
        margin-top: 15px;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0;
    }
}

@media (min-width: 600px) {
    .bounce img {
        width: 48px
    }
    .bounce {
        margin-left: -24px;
    }

    .banner-content {
        height: 90vh;
    }
    .layer {
        height: 90vh;
    }
    .banner-info-top {
        padding-top: 18em;
        width: 80%;
    }
    .banner-info-top h3 {
        font-size: 60px;
    }
    .banner-info-bottom p {
        padding-top: 20px;
        font-size: 30px;
    }
    .banner-btn {
        font-size: 30px;
        font-weight: bold;
        padding: 10px 57px;
        border-radius: 50px;
        margin-top: 3.5em;
        margin-bottom: 20px
    }
}